<div class="row">
    <ul class="nav nav-tabs" id="Test123">
        <li><a href="#Test" data-toggle="tab">Daily</a></li>
    </ul>
   <div id="Test">
        @Html.Partial("_DailyTrend");
    </div>

     
</div>
